<html>
<head>
	<title>imazon sandbox</title>
	<style type="text/css">
	body{
		font-family: sans-serif;
	}
	pre {
		white-space: pre-wrap;
  		background-color: #EAEAEA;
  		padding: 6px;
	}
	</style>
</head>
<body>
	<h1>Examples for <a href="https://github.com/Vizzuality/api_ruby_sandbox">GFW API'S RUBY CLIENT SANDBOX</a></h1>
	<h2>imazon iso:</h2>
	<pre><%= @imazon_iso %></pre>
	<h2>imazon wdpa:</h2>
	<pre><%= @imazon_wdpa %></pre>
	<h2>imazon use:</h2>
	<pre><%= @imazon_use %></pre>
	<h2>imazon geojson:</h2>
	<pre><%= @imazon_geojson %></pre>
	<h2>umd iso:</h2>
	<pre><%= @umd_iso %></pre>
</body>
</html>